* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    color: white;
    -webkit-tap-highlight-color: transparent;
}

main {
    background: #0A0519;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#header {
    display: flex;
    width: 100%;
    max-width: 235px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#header .player {
    background: #17122A;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    border: solid 4px #17122A;
    opacity: 0.5;
    transition: 0.3s;
}

#header .player-active {
    opacity: 1;
    border: solid 4px #2A2343;
}

#header #xPlayerDisplay { color: #1892EA; }
#header #oPlayerDisplay { color: #A737FF; }

#board {
    display: grid;
    grid-template-columns: repeat(3, min(25vw, 90px));
    grid-template-rows: repeat(3, min(25vw, 90px));
    gap: 12px;
}

#board .cell {
    background-color: #17122A;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s background;
}

#restartBtn {
    margin-top: 40px;
    width: 100%;
    max-width: 235px;
    background: #17122A;
    padding: 15px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s background;
    visibility: hidden;
}

@media (hover: hover) {
    #header .player:hover { border: solid 4px #2A2343; }
    #board .cell:hover { background: #2A2343; }
    #restartBtn:hover { background: #2A2343; }
}
